.jumbotron {
  font-style: : san-serif;
 text-align: center;
 background-image: url(../images/backgrounds/landing.jpg);
 color: white;
 background-repeat: no-repeat;
 background-size: cover;
}
.nav div {
  height: 1px;
  background-color: white;
  margin: 5px 0;
  border-radius: 25px;
  transition: 0.3s;
}
.nav {
  width: 30px;
  display: block;
  margin: 1em 0 0 1em;
}
.one {
  width: 30px;
}
.two {
  width: 30px;
}
.three {
  width: 30px;
}
.nav:hover div{
  width: 30px;
}
