.jumbotron {
  font-family: fantasy;
 text-align: center;
 background-image: url(../images/backgrounds/landing.jpg);
 color: white;
 background-repeat: no-repeat;
 background-size: cover;
}
.nav div {
  height: 1px;
  background-color: white;
  margin: 5px 0;
  border-radius: 25px;
  transition: 0.3s;
}
.nav {
  width: 30px;
  display: block;
  margin: 1em 0 0 1em;
}
.one {
  width: 30px;
}
.two {
  width: 20px;
}
.three {
  width: 30px;
}
.nav:hover div{
  width: 30px;
}
.second {

}
.third {
  background-color: white;
  background-position: left;
  float: left;
}
.p {
  float: right;
}
#fastfood {
  margin: 2%;
  float: left;
  padding: 2em;
  box-shadow: 0 0 4px 4px #ccc;
}
.page1 {
  float: right;
}
#thedrinks {
  margin: 2%;
  float: right;
  padding: 2em;
  box-shadow: 0 0 4px 4px #ccc;
}
.drinktext {
  float: left;
}
